<h2>@Localizer["Thanks"]</h2>
<p>@Localizer["DemoEnding"]</p>
<script type="text/javascript">
    setTimeout(function () {
        window.location.href = '@Url.Action("Index", "Product")';
    }, 3000);
</script>
