@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Globalization
@model P2FixAnAppDotNetCode.Models.Cart

<div class="">
    @if (Model.Lines.Count() > 0)
    {
        
        <small class="navbar-text">
            <b>@Localizer["YourCart"]:</b>
            @{
                var itemCount = Model.Lines.Sum(x => x.Quantity);
                var itemText = Localizer["Item"].Value + (itemCount > 1 ? "(s)" : string.Empty);
            }
            @itemCount @itemText
            @Model.GetTotalValue().ToString("c", new CultureInfo("fr-FR"))
        </small>
    }
    <a class="btn btn-sm btn-secondary navbar-btn" asp-controller="Cart" asp-action="Index">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>
